# API Keys
OPENAI_API_KEY=''
SILICONFLOW_API_KEY=''

# Base URLs
OPENAI_BASE_URL=''
SILICONFLOW_BASE_URL=''
TAVILY_API_KEY=''

PLATFORM='siliconflow'
MODEL_NAME='deepseek-ai/DeepSeek-V3'

# Neo4j Configuration
NEO4J_URI=''
NEO4J_USER=''
NEO4J_PASSWORD=''
NEO4J_DATABASE=''

# Cost Configuration
INPUT_COST_PER_M_TOKENS=2.0
OUTPUT_COST_PER_M_TOKENS=8.0